@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700;900&family=Poppins:wght@400;600;700;800&display=swap');

@import 'abstracts/functions';
@import 'abstracts/mixins';
@import 'abstracts/variables';

@import 'base/animations';
@import 'base/base';
@import 'base/typography';
@import 'base/utilities';

@import 'layout/header';
@import 'layout/name';

@import 'pages/home';
@import 'pages/formacion';
@import 'pages/proyectos';

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: white;
}

body {
  font-family: 'Nunito', sans-serif;
  color: rgb(255, 255, 255);
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.76),
      rgba(0, 0, 0, 0.637)
    ),
    url('/img/fondo_codigo.jpg');
  background-position: top;
  background-size: cover;
  display: flex;
  flex-direction: column;
}

.particles-container {
  position: relative;
  z-index: 99;
}
