@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Playfair+Display:wght@400;700&display=swap");
*, *::after, *::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  padding: 15px;
}

body header h1 {
  font-family: Playfair Display;
  font-size: 1.8rem;
  font-weight: 700;
  margin: 20px auto 15px;
}

body header div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

body header div img {
  margin: 5px 10px 0 0;
}

body header div p {
  font-family: Montserrat;
  font-style: italic;
  font-weight: 500;
  width: 80vw;
  margin-bottom: 30px;
}

body header figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

body header figure img {
  width: 100%;
  height: 100%;
  border-radius: 12px;
}

body main .details {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 15px;
}

body main .details .first-child p {
  color: #F2994A;
}

body main .details div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main .details div .each-detail {
  margin-bottom: 25px;
  margin-right: 3%;
}

body main .details div .each-detail .detail-icon {
  margin: 0 10px;
}

body main .details div .each-detail .details-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body main .details div .each-detail .details-text p:first-child {
  font-family: Montserrat;
  font-weight: 700;
  white-space: nowrap;
  font-size: 0.7rem;
  color: #BDBDBD;
}

body main .details div .each-detail .details-text p {
  margin-top: 3px;
  font-family: Montserrat;
  font-weight: 500;
  white-space: nowrap;
  font-size: 0.8rem;
}

body main .ingredients h2 {
  font-family: Playfair Display;
  font-size: 1.5rem;
  margin-bottom: 20px;
  font-weight: 700;
}

body main .ingredients h3 {
  font-family: Playfair Display;
  font-size: 1.2rem;
  font-style: italic;
  margin-bottom: 35px;
  font-weight: 400;
}

body main .ingredients div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

body main .ingredients div input {
  margin-left: 5px;
  -webkit-transform: scale(2);
          transform: scale(2);
}

body main .ingredients div label {
  font-family: Montserrat;
  font-size: 1rem;
  margin-left: 15px;
  margin-bottom: 10px;
  line-height: 30px;
}

body main .ingredients div .last {
  margin-bottom: 40px;
}

body main .instructions h2 {
  font-family: Playfair Display;
  font-size: 1.5rem;
  margin-bottom: 40px;
  font-weight: 700;
}

body main .instructions .each-instruction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  justify-items: flex-start;
  margin-bottom: 25px;
}

body main .instructions .each-instruction .space {
  margin-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body main .instructions .each-instruction .space .number-left {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 10px;
  width: 42px;
  height: 42px;
  background-color: #F2994A;
  color: white;
}

body main .instructions .each-instruction .space .number-left p {
  margin-bottom: 7px;
  font-family: Playfair Display;
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 1px;
}

body main .instructions .each-instruction p {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 1.1rem;
  line-height: 28px;
}

body main .link {
  font-family: Montserrat;
  font-weight: 400;
  color: #BDBDBD;
  line-height: 30px;
  font-style: italic;
}

body footer {
  margin-top: 80px;
  text-align: center;
  font-family: Montserrat;
  font-size: 1rem;
  font-weight: bold;
  color: #bdbbbb;
  margin-bottom: 10px;
}

@media (min-width: 1024px) {
  body {
    padding: 15px 15vw;
  }
  body header h1 {
    font-family: Playfair Display;
    font-size: 1.8rem;
    font-weight: 700;
    margin: 40px auto 15px;
  }
  body header div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  body header div img {
    margin: 5px 10px 0 0;
  }
  body header div p {
    font-family: Montserrat;
    font-style: italic;
    font-weight: 500;
    width: 80vw;
    margin-bottom: 30px;
  }
  body header figure {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  body header figure img {
    width: 100%;
    height: 100%;
    border-radius: 12px;
  }
  body main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    margin-top: 50px;
  }
  body main div .details {
    padding: 20px 20px 0 10px;
    width: 15vw;
    -webkit-box-shadow: 0px 0px 15px #686868;
            box-shadow: 0px 0px 15px #686868;
    margin-top: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 15px;
    border-radius: 12px;
  }
  body main div .details .first-child p {
    color: #F2994A;
  }
  body main div .details .second-child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body main div .details div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body main div .details div .each-detail {
    margin-bottom: 25px;
    margin-right: 3%;
  }
  body main div .details div .each-detail .detail-icon {
    margin: 0 10px;
  }
  body main div .details div .each-detail .details-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body main div .details div .each-detail .details-text p:first-child {
    font-family: Montserrat;
    font-weight: 700;
    white-space: nowrap;
    font-size: 0.7rem;
    color: #BDBDBD;
  }
  body main div .details div .each-detail .details-text p {
    margin-top: 3px;
    font-family: Montserrat;
    font-weight: 500;
    white-space: nowrap;
    font-size: 0.8rem;
  }
  body main div .ingredients h2 {
    font-family: Playfair Display;
    font-size: 1.5rem;
    margin-bottom: 20px;
    font-weight: 700;
  }
  body main div .ingredients h3 {
    font-family: Playfair Display;
    font-size: 1.2rem;
    font-style: italic;
    margin-bottom: 35px;
    font-weight: 400;
  }
  body main div .ingredients div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  body main div .ingredients div input {
    margin-left: 5px;
    -webkit-transform: scale(2);
            transform: scale(2);
  }
  body main div .ingredients div label {
    font-family: Montserrat;
    font-size: 1rem;
    margin-left: 15px;
    margin-bottom: 10px;
    line-height: 30px;
  }
  body main div .ingredients div .last {
    margin-bottom: 40px;
  }
  body main div .instructions h2 {
    font-family: Playfair Display;
    font-size: 1.5rem;
    margin-bottom: 40px;
    font-weight: 700;
  }
  body main div .instructions .each-instruction {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    justify-items: flex-start;
    margin-bottom: 25px;
  }
  body main div .instructions .each-instruction .space {
    margin-right: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body main div .instructions .each-instruction .space .number-left {
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-radius: 10px;
    width: 42px;
    height: 42px;
    background-color: #F2994A;
    color: white;
  }
  body main div .instructions .each-instruction .space .number-left p {
    margin-bottom: 7px;
    font-family: Playfair Display;
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 1px;
  }
  body main div .instructions .each-instruction p {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 1.1rem;
    line-height: 28px;
  }
  body main div .instructions .link {
    font-family: Montserrat;
    font-weight: 400;
    color: #BDBDBD;
    line-height: 30px;
    font-style: italic;
  }
  body footer {
    margin-top: 80px;
    text-align: center;
    font-family: Montserrat;
    font-size: 1rem;
    font-weight: bold;
    color: #bdbbbb;
    margin-bottom: 10px;
  }
}
/*# sourceMappingURL=styles.css.map */